apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production
nameSuffix: -production

resources:
  - ../base

commonLabels:
  environment: production

patches:
  - path: deployment-patch.yaml
  - path: configmap-patch.yaml
  - path: hpa-patch.yaml
